.card {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  padding-top: 22px;
  padding-bottom: 27px;

  grid-template-areas:
    "A B"
    "A C"
    "D D";

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 10px 37px 42px;
    max-width: 323px;
    background: linear-gradient(to top, $basic-grey 85%, $basic-white 85%);
    border: none;
  }

  @media (min-width: $desktop) {
    max-width: 245px;
    background: linear-gradient(to top, $basic-grey 81%, $basic-white 81%);
  }

  @media (max-width: $mobile-only) {
    &::after {
      content: "";
      position: absolute;
      background: $card-line-color-grey;
      height: 1px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0 $card-line-color-grey;
      z-index: -1;
    }
  }
}

.card--option {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $line-color-grey-2;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 26px 38px 28px;
    max-width: 100%;
    background: none;
    border: 1px solid $line-color-grey-2;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $line-color-grey-2;
    }
  }

  @media (min-width: $desktop) {
    padding: 13px 0 15px;
    border-right: none;
    border-left: none;
  }

  &::after {
    display: none;
  }
}

.card--show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 25px;

  &::before {
    display: block;
    margin-bottom: 23px;
    width: 30px;
    height: 30px;
    background:
      linear-gradient(#d3d3d3, #d3d3d3),
      linear-gradient(#d3d3d3, #d3d3d3);
    background-position: center;
    background-size: 100% 2px, 2px 100%;
    background-repeat: no-repeat;
    content: "";

    @media (min-width: $tablet) {
      margin-bottom: 53px;
      width: 60px;
      height: 60px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 37px;
    }
  }

  @media (min-width: $tablet) {
    margin-top: 80px;
    padding-top: 50px;
    background: none;
    border: 1px solid $basic-grey;
  }

  @media (min-width: $desktop) {
    margin-top: 97px;
    padding-top: 56px;
  }
}

.card__image {
  margin: auto;
  padding-bottom: 12px;

  grid-area: A;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    height: 228px;
    order: -1;
  }

  @media (min-width: $desktop) {
    padding-top: 11px;
    padding-bottom: 0;
  }
}

.card__title {
  margin: 0;
  padding-right: 50px;
  padding-bottom: 14px;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  grid-area: B;

  @media (min-width: $tablet) {
    padding: 4px 57px 15px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    padding: 4px 19px 20px;
  }

  &--show-more {
    padding: 0 0 8px;

    cursor: default;

    @media (min-width: $tablet) {
      padding: 0 40px 23px;
    }

    @media (min-width: $desktop) {
      padding: 0 14px 26px;
    }
  }

  &--option {
    padding-bottom: 13px;
    line-height: 16px;

    @media (min-width: $tablet) {
      padding: 0;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop) {
      padding: 10px 0;
    }
  }
}

.card__button {
  margin-top: auto;
  width: 100%;

  grid-area: D;

  &--option {
    @media (min-width: $desktop) {
      width: 244px;
    }
  }
}

.card__text {
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    padding: 0 15px 82px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    padding: 0 1px 87px;
  }
}
