.card-table {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
    border-collapse: collapse;
  }

  &--option {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 14px;

    @media (min-width: $tablet) {
      margin-left: auto;
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 12px;
    }
  }
}

.card-table__row td:nth-child(2) {
  text-align: right;
}

.card-table__row--option td:nth-child(1) {

  @media (min-width: $tablet) {
    padding-right: 49px;
  }
}

.card-table__content {

  @media (min-width: $tablet) {
    padding: 5px 0;
    border-bottom: 1px solid $line-color-grey-2;
  }

  &--option {

    @media (min-width: $tablet) {
      border-bottom: none;
    }
  }
}

