.card {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  padding-top: 20px;
  padding-bottom: 25px;

  grid-template-areas:
  "A B"
  "A C"
  "D D";

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 10px 37px 40px;
    max-width: 323px;
    background: linear-gradient(to top, $basic-grey 84%, $basic-grey 16%, $basic-white 16%);;
    border: none;
  }

  @media (min-width: $desktop) {
    max-width: 245px;
  }

  @media (max-width: $mobile-only) {

    &:after {
      content: "";
      position: absolute;
      background: $card-line-color-grey;
      height: 1px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0 $card-line-color-grey;
      z-index: -1;
    }
  }

  &--option {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    padding-bottom: 19px;
    border-bottom: 1px solid $line-color-grey-2;

    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 26px 38px 28px;
      max-width: 100%;
      background: none;
      border: 1px solid $line-color-grey-2;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid $line-color-grey-2;
      }
    }

    @media (min-width: $desktop) {
      padding: 17.5px 0 17.5px;
      border-right: none;
      border-left: none;
    }

    &:after {
      display: none;
    }
  }

  &--show-more {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;

    &:before {
      display: block;
      margin-bottom: 23px;
      width: 30px;
      height: 30px;
      background: linear-gradient(#d3d3d3,#d3d3d3), linear-gradient(#d3d3d3,#d3d3d3);
      background-position: center;
      background-size: 100% 2px, 2px 100%;
      background-repeat: no-repeat;
      content: "";

      @media (min-width: $tablet) {
        margin-bottom: 50px;
        width: 60px;
        height: 60px;
      }
    }

    @media (min-width: $tablet) {
      margin-top: 82px;
      padding-top: 50px;
      background: none;
      border: 1px solid $basic-grey;
    }
  }
}

.card__image {
  margin: auto;

  grid-area: A;

  @media (min-width: $tablet) {
    padding-bottom: 22px;
    order: -1;
  }
}

.card__title {
  margin: 0;
  padding-right: 40px;
  padding-bottom: 14px;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;

  grid-area: B;

  @media (min-width: $tablet) {
    padding: 0 57px 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    padding: 0 15px 20px;
  }

  &--show-more {
    padding: 0 0 8px;

    @media (min-width: $tablet) {
      padding: 0 34px 23px;
    }
  }

  &--option {
    padding-bottom: 13px;
    line-height: 16px;

    @media (min-width: $tablet) {
      padding: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.card__button {
  width: 100%;

  grid-area: D;

  &--show-more {
    color: $special-dark-grey;
    background-color: $basic-grey;
  }

  &--option {

    @media (min-width: $desktop) {
      width: 244px;
    }
  }
}

.card__text {
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    padding-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}
