.catalog {
  padding-top: 29px;

  @media (min-width: $tablet) {
    padding-top: 60px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 50px;
    padding-top: 74px;
  }
}

.catalog__title {
  position: relative;
  padding-bottom: 41px;

  @media (max-width: $mobile-only) {
    &::after {
      content: "";
      position: absolute;
      background: $card-line-color-grey;
      height: 1px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0 $card-line-color-grey;
      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 82px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 68px;
  }
}
