.form-about {
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
    padding-bottom: 65px;
    grid-area: A;
  }
}

.form-about__legend {
  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-about__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 39px;

  @media (min-width: $tablet) {
    padding-top: 66px;
    gap: 20px;
  }
}
