.form-about {
  position: relative;
  padding-bottom: 24px;

  @media (max-width: $mobile-only) {

    &:after {
      content: "";
      position: absolute;
      background: $card-line-color-grey;
      height: 1px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0 $card-line-color-grey;
      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 0;
    border: none;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
    padding-bottom: 65px;
    grid-area: A;
  }
}

.form-about__legend {

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}
