.form-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 39px;

  @media (min-width: $tablet) {
    padding-top: 66px;
    gap: 20px;
  }

  &--contacts {
    padding-top: 8px;

    @media (min-width: $tablet) {
      gap: 20px;
      padding-top: 76px;
    }

    @media (min-width: $desktop) {
      flex-direction: row;
      gap: 80px;
    }
  }
}

.form-list__item {
  display: flex;
  gap: 13px;
  align-items: center;
}

.form-list__item--email {
  position: relative;

  &::after {
    position: absolute;
    right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#email");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $special-dark-grey-2;
    content: "";

    @media (min-width: $desktop) {
      right: 17px;
    }
  }

  @media (min-width: $desktop) {
    width: 570px;
  }

  &:focus-within {
    &::after {
      background-color: $basic-green;
    }
  }
}

.form-list__item--phone {
  position: relative;

  &::after {
    position: absolute;
    right: 11px;
    display: block;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#phone");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $special-dark-grey-2;
    content: "";

    @media (min-width: $desktop) {
      right: 17px;
    }
  }

  &:focus-within {
    &::after {
      background-color: $basic-green;
    }
  }
}

.form-list__item--error {
  &:focus-within {
    &::after {
      background-color: $status-error;
    }
  }
}

.form-list__input {
  flex: 1;
  padding: 0 15px;
  height: 45px;
  font-size: 16px;
  line-height: 18px;
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $line-color-grey-3;

  @media (min-width: $tablet) {
    padding: 0 40px 0 19px;
    height: 52px;
    font-size: 20px;
    line-height: normal;
  }

  @media (min-width: $desktop) {
    &:hover {
      border: 1px solid $line-color-grey-2;
    }

    &:focus {
      border: 2px solid $special-dark-grey;
    }

    &--error {
      border: 2px solid $status-error;
    }
  }
}

.form-list__item--email .form-list__input,
.form-list__item--phone .form-list__input {
  border: 1px solid $line-color-grey-2;
}
