.form-contacts {
  padding-top: 26px;
  padding-bottom: 24px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 65px;
  }

  @media (min-width: $tablet) {
    grid-area: C;
  }
}

.form-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 35px;

  @media (min-width: $tablet) {
    gap: 20px;
    padding-top: 76px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 80px;
  }
}

.form-contacts__legend {
  display: contents;
}
