.hero {

  @media (min-width: $tablet) {
    margin: auto;
    width: 708px;
    min-height: 864px;
    background-image: url("../../images/hero-tablet@1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $desktop) {
    position: relative;
    margin: 0;
    margin-bottom: 57px;
    padding: 86px 0 66px;
    width: 100vw;
    min-height: 580px;
    background: none;

    &:before {
      position: absolute;
      display: block;
      top: -168px;
      right: 0;
      z-index: -10;
      width: 50vw;
      min-height: 129%;
      background-image: linear-gradient(rgba(104,183,56,.851),rgba(104,183,56,.851)),
                        image-set(url(../../images/hero-background-desktop@2x.jpg) 2x, url(../../images/hero-background-desktop@1x.jpg) 1x),
                        linear-gradient(to right,rgb(76, 76, 78),rgb(59, 59, 61));
      background-position: bottom;
      background-position-x: 0;
      background-repeat: no-repeat;
      content: "";
    }
  }
}


.hero__wrap {

  @media (min-width: $tablet) {
    padding: 28px 90px;
  }

  @media (min-width: $desktop) {
    margin: auto;
    padding: 0 800px 0 190px;
    max-width: 1440px;
  }
}

.hero__text {

  @media (max-width: $mobile-only) {
    position: relative;
    padding: 0 25px;
    text-align: center;
    color: $basic-white;
    background-image: linear-gradient(rgba(104,183,56,.851),rgba(104,183,56,.851)),
                      image-set(url(../../images/hero-background@2x.jpg) 2x, url(../../images/hero-background@1x.jpg) 1x),
                      linear-gradient(to right, rgb(53, 94, 28),rgb(32, 59, 16));
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    &:after {
      position: absolute;
      width: 280px;
      height: 270px;
      transform: translateX(-50%) translateY(-51%);
      background-image: url("../../images/hero@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      content: "";
    }
  }

  @media (min-width: $desktop) {
  }
}

.hero__title {
  color: inherit;
  padding: 26px 0 21px;
}

.hero__slogan {
  text-transform: uppercase;
  font-family: $secondary-font;

  @media (max-width: $mobile-only) {
    margin: 0;
    padding-bottom: 164px;
    font-size: 14px;
    line-height: normal;
  }

  @media (min-width: $tablet) {
    padding-top: 15px;
    padding-bottom: 46px;
    font-size: 20px;
    line-height: normal;
  }
}

.hero__button {

  @media (max-width: $mobile-only) {
    margin: auto;
    margin-top: 136px;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 280px;
  }

  @media (min-width: $tablet) {
    padding: 14px;
    width: 244px;
  }
}
