.legend {
  position: relative;
  display: block;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: $basic-white;
  box-shadow: -20px 0 0 $basic-white, 20px 0 0 $basic-white;

  &::after {
    content: "";
    position: absolute;
    background: $basic-green;
    height: 2px;
    width: 100vw;
    right: 0;
    top: 15px;
    box-shadow: 100vw 0 0 $basic-green;
    z-index: -1;

    @media (min-width: $tablet) {
      top: 22px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    box-shadow: -40px 0 0 $basic-white, 40px 0 0 $basic-white;
  }
}
