.programs-list {
  font-family: $secondary-font;
  color: $basic-black;

    &__subtitle {
      font-size: 24px;
      font-weight: 400;
      line-height: 37px;
      text-transform: uppercase;

      @media (min-width: $tablet) {
        font-size: 36px;
        line-height: 36px;
      }

      &--slim:before {
        display: block;
        width: 50px;
        height: 53px;
        margin: 0 0 20px;
        background-image: url("../../images/icons/stack.svg#cat-slim");
        background-repeat: no-repeat;
        background-position: center;
        content: "";

        @media (min-width: $tablet) {
          width: 200px;
          height: 211px;
        }

        @media (min-width: $desktop) {
          width: 100px;
          height: 108px;
        }
      }

      &--pro:before {
        display: block;
        width: 67px;
        height: 50px;
        margin: 0 0 20px;
        background-image: url("../../images/icons/stack.svg#cat-pro");
        background-repeat: no-repeat;
        background-position: center;
        content: "";

        @media (min-width: $tablet) {
          width: 268px;
          height: 200px;
        }

        @media (min-width: $desktop) {
          width: 134px;
          height: 100px;
        }
      }
    }

    &__text {
      font-family: $primary-font;
      color: $special-dark-grey;

      @media (min-width: $tablet) {
        font-size: 16px;
        line-height: 24px;
        color: $basic-black;
      }
    }

    &__link {
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;

      @media (min-width: $tablet) {
        font-size: 20px;
        line-height: normal;
      }
    }
}
