.program-form {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet) {
    padding-top: 55px;
    padding-bottom: 60px;
    border: none;
  }

  @media (min-width: $desktop) {
    padding-top: 65px;
    padding-bottom: 79px;
  }
}

.program-form__form {
  padding-top: 37px;
  font-family: $secondary-font;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    padding-top: 54px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 570px 570px;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0 79px;
    padding-top: 55px;

    grid-template-areas:
    "A B"
    "C C"
    "D D"
    "E E"
    "F F";
  }
}

.program-form__button-wrap {

  @media (min-width: $tablet) {
    display: flex;
    gap: 60px;
  }

  @media (min-width: $desktop) {
    gap: 80px;
    grid-area: F;
  }
}

.program-form__button {
  width: 100%;

  @media (min-width: $tablet) {
    width: 284px;
  }

  @media (min-width: $desktop) {
    width: 570px;
  }
}

.program-form__footnote {
  padding-top: 21px;
  font-family: $primary-font;
  line-height: 16px;
  text-align: center;
  text-transform: none;

  @media (min-width: $tablet) {
    padding-top: 17px;
    padding-bottom: 21px;
    font-size: 16px;
    text-align: left;
  }
}
