.promo {
  padding-top: 35px;
  padding-bottom: 35px;
  background-image: linear-gradient(rgba(104,183,56,.851),rgba(104,183,56,.851)), url("../../images/promo-background@1x.jpg");
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet) {
    padding: 75px 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
    width: 245px;
  }
}

.promo__img {

  &:before {
    display: block;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 48px;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#promo");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}

.promo__text {
  padding: 0 42px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;
}
