.results {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $grey;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 0;
    background-color: $basic-white;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 75px;
    background-color: $grey;
    border-top: 1px solid $line-color-grey;
  }
}

.results__container {

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 99px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    width: 24.5%;
    padding-right: 0;
  }
}

.results__title {
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding-bottom: 30px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding-top: 69px;
    padding-bottom: 76px;
    background-color: $basic-white;
  }
}

.results__text {
  padding: 20px 0;

  @media (min-width: $tablet) {
    padding: 30px 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding: 70px 0 69px;
  }
}

.results__slider {

  @media (min-width: $tablet) {
    background-color: $grey;
  }

  @media (min-width: $desktop) {
    width: 55.5%;
    padding-left: 0;
  }
}
