.results {
  position: relative;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: $grey;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 101px;
    background: none;

    &:after {
      content: "";
      position: absolute;
      background: $grey;
      height: 485px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0$grey;
      z-index: -1;

      @media (min-width: $desktop) {
        height: 462px;
      }
    }
  }

  @media (min-width: $desktop) {
    background: none;
    padding-bottom: 75px;
  }
}

.results__wrap {

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.results__container {

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 99px;
  }

  @media (min-width: $desktop) {
    width: 500px;
    padding-bottom: 0;
  }
}

.results__title {
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding-bottom: 30px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    padding-top: 69px;
    padding-bottom: 0;
  }
}

.results__text {
  padding: 20px 0;

  @media (min-width: $tablet) {
    padding: 30px 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding-top: 146px;
  }
}

