.site-list {


  @media (min-width: $tablet) {
    display: flex;
  }
}

.site-list__item {
  position: relative;
  padding: 22px 22px 24px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-only) {

    &:after {
      content: "";
      position: absolute;
      background: $card-line-color-grey;
      height: 1px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0 $card-line-color-grey;
      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: normal;
    color: $basic-white;
  }
}

.site-list__item--current .site-list__link {

  @media (min-width: $tablet) {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop) {
    border-bottom: 2px solid $basic-white;
  }
}



