.site-list {

  @media (min-width: $tablet) {
    display: flex;
    gap: 34px;
  }

  &--index {
    @media (min-width: $desktop) {
      color: $basic-white;
    }
  }
}

.site-list__item {
  position: relative;
  padding: 22px 22px 24px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile-only) {

    &:after {
      content: "";
      position: absolute;
      background: $card-line-color-grey;
      height: 1px;
      width: 100vw;
      right: 0;
      bottom: 0;
      box-shadow: 100vw 0 0 $card-line-color-grey;
      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    padding: 22px 0px 24px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: normal;
  }
}

.site-list__item--current .site-list__link {

  @media (min-width: $tablet) {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop) {

    &:hover {
      color: rgb(0, 0, 0, 0.6);
    }

    &:active {
      color: rgb(0, 0, 0, 0.3);
    }
  }
}

.site-list__link {

  @media (min-width: $tablet) {
    padding-bottom: 6px;
  }

  @media (min-width: $desktop) {

    &:hover {
      color: rgb(0, 0, 0, 0.6);
    }

    &:active {
      color: rgb(0, 0, 0, 0.3);
    }
  }
}

.site-list--index  .site-list__link {

  @media (min-width: $desktop) {

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgb(255, 255, 255, 0.3);
    }
  }
}


