.social-list {
  display: flex;
  gap: 24px;
}

.social-list__link {
  &--vk {
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#vk");
    mask-size: 27px 17px;
    background-color: $special-grey-2;
    mask-repeat: no-repeat;
    mask-position: center;
    content: "";
  }

  &--youtube {
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#youtube");
    mask-size: 24px 19px;
    background-color: $special-grey-2;
    mask-repeat: no-repeat;
    mask-position: center;
    content: "";
  }

  &--telegram {
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#telegram");
    mask-size: 19.7px 17px;
    background-color: $special-grey-2;
    mask-repeat: no-repeat;
    mask-position: center;
    content: "";
  }

  &:hover {
    background-color: $basic-green;
  }

  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.3;
  }
}
