.title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $basic-black;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  &--option {
    font-size: 24px;
    line-height: 24px;

    @media (min-width: $tablet) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
